@import '../../assets/sass/themes.scss';

.Skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
        text-align: center;
        margin: 2rem auto;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        padding-left: 0;
        margin: 0;

        li a {
            text-decoration: none;
            margin: 0 0.5rem;
            background-position: 0 1.04em;
            background-repeat: repeat-x;
            background-size: 8px 0.25rem;

            //dark theme specific styling
            @include darkTheme {
                color: $default-dark;

                &.active {
                    @extend .futura-bold;
                    background-image: linear-gradient(to right, $accent-dark, $accent-dark);
                }
            }
                
            //light theme specific styling
            @include lightTheme {
                color: $default-light;

                &.active {
                    @extend .futura-bold;
                    background-image: linear-gradient(to right, $accent47-light, $accent47-light);
                }
            }
        }
    }
}