@import '../../assets/sass/themes.scss';

.Content {
    min-height: calc(100vh - #{$toolbarHeight});
    font-family: Futura;

    //dark theme specific styling
    @include darkTheme {
        background-color: $bg-color-dark;
        color: $default-dark;
    }
    
    //light theme specific styling
    @include lightTheme {
        background-color: $bg-color-light;
        color: $default-light;
    }
}

.Main {
    margin-top: $toolbarHeight;
    padding: 4rem;
}

.BigNav {
    position: relative;
    top: $toolbarHeight;
}

@include media ("<tablet") {
    .BigNav {
        display: none;
    }
}