@font-face {
    font-family: "Fulbo-Argenta";
    src: url("assets/fonts/fulbo-argenta.otf");
}

@font-face {
    font-family: "Futura";
    src: url("assets/fonts/futura-medium.ttf");
}

// global classes
.hidden {
    display: none;
}
