@font-face {
    font-family: "Fulbo-Argenta";
    src: local('Pacifico Regular'), url("assets/fonts/fulbo-argenta.otf");
    font-display: swap;
}

@font-face {
    font-family: "Futura";
    src: local('Pacifico Regular'), url("assets/fonts/futura-medium.ttf");
    font-display: swap;
}

// global classes
.hidden {
    display: none;
}
