@import "./themes.scss";

:export {
  lightThemeDefaultText: $default-light;
  lightThemeSecondaryText: $secondary-text-light;
  darkThemeDefaultText: $default-dark;
  darkThemeSecondaryText: $secondary-text-dark;
}
